@font-face { font-family: "Helvetica Neue"; src: url('fonts/helvetica.otf'); } 

body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    color: #333;
    line-height: 1.42857143;
}

.appointments-page.row,
.padded.row {
	margin: 10px 15px;
}

/* appointments page */

.appointments-table th, .appointments-table td {
    text-align: center;
    vertical-align: middle !important;
}

.appointments-list .btn {
    width: 100%;
}

.app-control-item-container {
    padding: 5px 10px 10px;
}

/* font tweaks */

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.uppercase {
    text-transform: uppercase;
}

.bold {
    font-weight: bold;
}

.center {
    text-align: center;
}

/* user profile page */

.profile-info td {
    border: none !important;
    padding: 8px 0px !important;
    text-align: center;
}

td.attribute-name {
    font-weight: bold;
    padding: 4px 0px !important;
    text-transform: uppercase;
    background-color: #ececec;
}

.appointment-info {
    padding: 5px 15px;
    margin-bottom: 0px;
    margin-top: 20px;
}

.user-left-container {
    background-color: #fbfbfb;
    border: 1px solid lightgrey;
    padding: 20px;
}

.table-responsive {
    margin: 20px 0;
}

a.panel-title:hover {
    text-decoration: none;
}

.panel-group .panel {
    border-radius: 0;
    border-color: #dddddd;
    margin: 10px 0;
}

.panel-default>.panel-heading {
    color: #fff;
    background-color: #222222;
    border-color: #ddd;
    border-radius: 0px;
}

i.fa.fa-pencil-square.edit-icon {
    float: right;
    font-size: 20px;
}

h3.panel-title {
    line-height: 20px;
}

/* forms */

label {
    padding-left: 0 !important;
}

.form-control {
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

textarea { 
    resize:vertical; 
}


/* on desktops */
@media (min-width: 768px) {

	.mobile-only {
		display: none !important;
	}

	.user-left-container {
		max-width: 310px;
	}

    .user-right-container {
        width: 100%;
        max-width: calc(100% - 340px);
        margin: 0 15px;
    }

}

/* on mobile devices */
@media (max-width: 767px) {

	.desktop-only {
		display: none !important;
	}

	.user-left-container {
	    text-align: center;
	}

}