userpimport url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');

body {
	font-family: 'Noto Sans';
    font-size: 13px;
    color: #333;
    line-height: 1.42857143;
    background-color: #f1f1f1;
}

#wrapper {
    padding-left: 0;
}

.appointments-page.row,
.padded.row {
	margin: 10px 15px;
}

.well {
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: white;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
}

/*.list-group-item {
    padding: 10px 15px !important;
}*/

/* appointments page */

.appointments-table th, .appointments-table td {
    text-align: center;
    vertical-align: middle !important;
}

.appointments-list .btn {
    width: 100%;
}

.app-control-item-container {
    padding: 5px 10px 10px;
}

/* font tweaks */

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.uppercase {
    text-transform: uppercase;
}

.bold {
    font-weight: bold;
}

.center {
    text-align: center;
}

/* single appointment page */

.panel-title {
    font-size: 14px;
}

.app-notes .prescriptions-controls,
.app-conditions .prescriptions-controls,
.app-prescriptions .prescriptions-controls {
    float: right;
}

.btn-return-user-profile {
    margin-bottom: 25px;
}

/* patients list */

.container-fluid.patients-page {
    max-width: 80%;
}

.patients-page .patients-table {
    background: white;
    text-align: center;
}

.patients-page .col-md-4.patients-control-item-container {
    padding-left: 0;
}

.patients-page .col-md-8.patients-control-item-container {
    padding-right: 0;
}

.patients-page thead > tr > th {
    text-align: center;
}

/* user profile page */

.user-conditions .btn-success,
.user-appointments .btn-success,
.user-prescriptions .btn-success {
    margin: 10px 0;
    text-align: center;
    width: 100%;
}

.user-right-container p {
    text-align: center;
}





.row.well.user-conditions .panel,
.row.well.user-appointments .panel,
.row.well.user-prescriptions .panel {
    text-align: center;
}

.user-prescriptions .panel.panel-default,
.user-conditions .panel.panel-default {
    -moz-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.05);
}

.prescriptions-title-bar form {
    display: inline-block;
    float: right;
    padding-left: 5px;
}

.user-profile-icon {
    float: right;
    padding: 0px 4px;
}

.profile-page h2 {
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    font-size: 18px;
}

/* Patient User Info Container */


.user-info p, .user-info h2 {
    text-align: left;
    padding: 0 19px;
}

.user-info h2.patient-name {
    background: #e6e6e6;
    text-align: center;
    padding: 10px 19px;
}

.profile-page .panel-title form {
    float: right;
    padding: 0 4px;
}

.profile-info td {
    border: none !important;
    padding: 8px 0px !important;
    text-align: center;
}

.user-info {
    text-align: center;
    border: none;
    padding: 0;
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

p.info-title {
    font-weight: bold;
}

@media (max-width: 767px) {
    .user-info p, .user-info h2 {
        text-align: center;
    }
}

/* end of profile info */

.appointment-info {
    padding: 5px 15px;
    margin-bottom: 0px;
    margin-top: 20px;
}

.user-left-container {
    background-color: #fbfbfb;
    border: 1px solid lightgrey;
    padding: 20px;
}

.table-responsive {
    margin: 20px 0;
}

a.panel-title:hover {
    text-decoration: none;
}

.panel-group .panel {
    border-radius: 0;
    border-color: #dddddd;
    margin: 10px 0;
}

i.fa.fa-pencil-square.edit-icon,
i.fa.fa-minus-square.edit-icon {
    float: right;
    font-size: 20px;
    padding-left: 10px;
}

h3.panel-title {
    line-height: 20px;
}

form#conditions-form,
form#prescriptions-form,
form#appointments-form {
    float: none;
}

/*********************************/
/*** Appointment List Tables (user profile page)
/*********************************/

.app-list-col {
    padding: 10px 0;
    text-align: center;
    border-right: solid 1px #dddddd;
}

.profile-page li.list-group-item.first {
    margin-top: 15px;
    border-top: 0;
    background: #222222;
    color: white;
    border-radius: 0;
}

.profile-page .nav-tabs>li>a {
    margin-right: 0;
    border-radius: 4px 4px 0 0;
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
}

.profile-page ul.nav.nav-tabs.user-profile-tabs {
    border: none;
    margin: 0;
}

.profile-page .nav-tabs>li>a {
    margin-right: 0;
    border-radius: 0;
    color: #555;
    cursor: default;
    background-color: #f5f5f5;
    border: solid 1px #e6e6e6;
}

.profile-page .nav-tabs>li.active>a, 
.profile-page .nav-tabs>li.active>a:focus, 
.profile-page .nav-tabs>li.active>a:hover {
    color: #fff;
    cursor: default;
    background-color: #353535;
    border-bottom: none;
    border-radius: 0;
    border: solid 1px #353535;
}

.profile-page .nav-tabs>li {
    float: left;
    margin-bottom: -1px;
    width: 50%;
    text-align: center;
}

.app-list-col.header {
    background: #eaeaea;
    color: #353535;
    border: solid 1px #ddd;
    border-right: none;
}

.app-list-item {
    border-bottom: solid 1px #ddd;
    border-left: solid 1px #ddd;
    border-right: 0;
}

.app-list-col.header.last,
.app-list-item.last {
    border-right: solid 1px #ddd;
}

.app-list-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

    .app-list-row > [class*='col-'] {
         display: flex;
         flex-direction: column;
    }

.app-list-item form {
    margin: 0 auto;
}

@media (max-width: 767px) {
    .user-middle-container {
        padding: 0;
    }
    .row.padded.profile-page {
        margin: 0;
    }
    .app-list-row > [class*='col-'] {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }
    .app-list-col {
        width: 100%;
    }
    .app-list-item {
        border: solid 1px #ddd;
        border-top: none;
    }
    .app-list-col.header {
        display: none;
    }
    .app-doctor {
        background: #f7f7f7;
    }
    .app-details, .app-edit, .app-delete {
        display: none !important;
    }
    .app-doctor, .app-url {
        width: 25%;
        float: left;
    }
     .app-time {
        width: 20%;
        float: left;
     }
    .app-date {
        width: 30%;
        float: left;
    }
    .app-date, .app-time, .app-doctor {
        border-right: none;
    }
    .app-list-col {
        padding: 6px 0;
        font-size: 12px;
    }
    div#appointments-tab-pane {
        margin: 10px 0;
        border-top: solid 1px #ddd;
    }
    .app-list-item p,
    .app-list-item a {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
}

/*Doctor's Notes*/

.doctor-notes-item {
    margin: 20px 0;
    padding: 0;
}

.doctor-notes {
    margin: 0;
    padding: 0;
}

.note-meta {
    line-height: 28px;
    background: #222222;
    padding: 5px 10px;
    color: #ffffff;
    font-size: 11px;
}

.remove-icon {
    background: transparent;
    border: none;
    color: #ffffff;
    border-radius: 2px;
    padding: 3px;
    font-size: 16px;
    line-height: 22px;
}

.note-body {
    padding: 20px 10px;
    background: whitesmoke;
    font-size: 12px;
    border: solid 1px #cccccc;
}


.submit-btn {
    border-radius: 2px;
}

.doctor-notes .form-horizontal .form-group {
    margin: 15px 0;
}


.note-meta form {
    display: inline-block;
    margin-left: 10px;
}

h2.notes-title {
    text-align: left;
}

.notes-title {
    margin: 20px 0;
    text-align: left;
}

.notes-title button {
    margin: 10px;
}

/* Prescriptions */

.radio-buttons-container .radio-inline {
    position: relative;
    display: inline-flex;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    vertical-align: middle;
    cursor: pointer;
}

.radio-buttons-container .radio-inline input[type=radio] {
    position: relative;
    margin-left: 0;
    margin-right: 10px;
}

.radio-buttons-container {
    padding-left: 1px;
}



/* forms */

label {
    padding-left: 0 !important;
}



.form-control {
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

textarea { 
    resize:vertical; 
}

/* PATIENTS HOMEPAGE */



/* on desktops */
@media (min-width: 768px) {

	.mobile-only {
		display: none !important;
	}

}

/* on mobile devices */
@media (max-width: 767px) {

	.desktop-only {
		display: none !important;
	}

	.user-left-container {
	    text-align: center;
	}

}