@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');

body {
	font-family: 'Noto Sans';
    font-size: 13px;
    color: #333;
    line-height: 1.42857143;
    background-color: #f1f1f1;
}

#wrapper {
    padding-left: 0;
}

.appointments-page.row,
.padded.row {
	margin: 10px 15px;
}

.well {
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: white;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
}

/* appointments page */

.appointments-table th, .appointments-table td {
    text-align: center;
    vertical-align: middle !important;
}

.appointments-list .btn {
    width: 100%;
}

.app-control-item-container {
    padding: 5px 10px 10px;
}

/* font tweaks */

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.uppercase {
    text-transform: uppercase;
}

.bold {
    font-weight: bold;
}

.center {
    text-align: center;
}

/* user profile page */

.user-conditions .btn-success,
.user-appointments .btn-success,
.user-prescriptions .btn-success {
    margin: 10px 0;
    text-align: center;
    width: 100%;
}

.profile-page li.list-group-item {
    overflow: auto;
    padding: 0;
    margin-bottom: 10px;
}

.app-list-col {
    padding: 10px 0;
    text-align: center;
    border-right: solid 1px #dddddd;
}

.profile-page li.list-group-item .last {
    border: none;
}

.row.well.user-conditions,
.row.well.user-appointments,
.row.well.user-prescriptions {
    text-align: center;
}

.user-prescriptions .panel.panel-default,
.user-conditions .panel.panel-default {
    -moz-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.05);
}

.prescriptions-title-bar form {
    display: inline-block;
    float: right;
    padding-left: 5px;
}

.user-profile-icon {
    float: right;
    padding: 0px 4px;
}

.profile-page h2 {
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
}

.profile-page .panel-title form {
    float: right;
    padding: 0 4px;
}

.profile-info td {
    border: none !important;
    padding: 8px 0px !important;
    text-align: center;
}

td.attribute-name {
    font-weight: bold;
    padding: 4px 0px !important;
    text-transform: uppercase;
    background-color: #ececec;
}

.appointment-info {
    padding: 5px 15px;
    margin-bottom: 0px;
    margin-top: 20px;
}

.user-left-container {
    background-color: #fbfbfb;
    border: 1px solid lightgrey;
    padding: 20px;
}

.table-responsive {
    margin: 20px 0;
}

a.panel-title:hover {
    text-decoration: none;
}

.panel-group .panel {
    border-radius: 0;
    border-color: #dddddd;
    margin: 10px 0;
}/*

.panel-default>.panel-heading {
    color: #fff;
    background-color: #222222;
    border-color: #ddd;
    border-radius: 0px;
}*/

i.fa.fa-pencil-square.edit-icon,
i.fa.fa-minus-square.edit-icon {
    float: right;
    font-size: 20px;
    padding-left: 10px;
}

h3.panel-title {
    line-height: 20px;
}

/*Doctor's Notes*/

.doctor-notes-item {
    margin: 20px 0;
    padding: 0;
}

.doctor-notes {
    margin: 0;
    padding: 0;
}

.note-meta {
    line-height: 22px;
    background: #337ab7;;
    padding: 5px 10px;
    color: #ffffff;
    font-size: 12px;
}

.remove-icon {
    background: transparent;
    border: none;
    color: #ffffff;
    border-radius: 2px;
    padding: 3px;
    font-size: 16px;
    line-height: 22px;
}

.note-body {
    padding: 20px 10px;
    background: white;
    font-size: 12px;

}

.submit-btn {
    border-radius: 2px;
}

.doctor-notes .form-horizontal .form-group {
    margin: 15px 0;
}


.note-meta form {
    display: inline-block;
    margin-left: 10px;
}

h2.notes-title {
    text-align: left;
}

.notes-title {
    margin: 20px 0;
    text-align: left;
}

.notes-title button {
    margin: 10px;
}

/* prescriptions */

.radio-buttons-container .radio-inline {
    position: relative;
    display: inline-flex;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    vertical-align: middle;
    cursor: pointer;
}

.radio-buttons-container .radio-inline input[type=radio] {
    position: relative;
    margin-left: 0;
    margin-right: 10px;
}

.radio-buttons-container {
    padding-left: 1px;
}



/* forms */

label {
    padding-left: 0 !important;
}

.form-control {
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

textarea { 
    resize:vertical; 
}


/* on desktops */
@media (min-width: 768px) {

	.mobile-only {
		display: none !important;
	}

}

/* on mobile devices */
@media (max-width: 767px) {

	.desktop-only {
		display: none !important;
	}

	.user-left-container {
	    text-align: center;
	}

}